.App {
  text-align: center;
}

.display {
  display: row;
  font-size: 100px;
  color: green;
  background-color: black;
  height: 150px;
}

button {
  margin: 40px;
  padding: auto;
  font-size: 20px;
  height: 40px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 0 10px;
}

.start {
  color: blue;
  background-color: rgb(186, 201, 233);
}

.reset {
  color: rgb(238, 16, 8);
  background-color: rgb(251, 255, 144);
}

.wait {
  color: rgb(3, 39, 18);
  background-color: rgb(175, 240, 175);
}
